@model IEnumerable<TennisFinal.Models.Prenotation>

@{
    ViewData["Title"] = "Gestionale tennis";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">

<h2>Prenotazioni</h2>
<br />

<div>
    <div style="float:left">
        <button class="btn btn-primary" onclick="AddEditPrenotations(0)">Aggiungi prenotazione</button>
    </div>

    <div style="float:right; width:40%;">
        <form asp-controller="Expense" asp-action="Index" class="form-group">
            <div class="col-sm-6">

                
                <select class="form-control" name="SearchString">
                    <option value="">-- Seleziona campo --</option>
                    <option value="TerraBattuta">Terra battuta</option>
                    <option value="Cemento">Cemento</option>
                    <option value="Sintetico">Sintetico</option>
                    <option value="Erba">Erba</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default btn-info">Filtra per campo</button>
        </form>
    </div>

</div>

<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id_Prenotazione)</th>
            <th>@Html.DisplayNameFor(model => model.Campo)</th>
            <th>@Html.DisplayNameFor(model => model.Data)</th>
            <th>@Html.DisplayNameFor(model => model.Partita)</th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id_Prenotazione)</td>
                <td>@Html.DisplayFor(modelItem => item.Campo)</td>
                <td>@Html.DisplayFor(modelItem => item.Data)</td>
                <td>@Html.DisplayFor(modelItem => item.Partita)</td>
               
                <td>
                    <button class="btn btn-default" onclick="AddEditPrenotations(@item.Id_Prenotazione)">Modifica</button>                   
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="prenotationFormModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 id="title" class="modal-title">Aggiungi prenotazione</h3>
            </div>
            <div class="modal-body" id="prenotationFormModelDiv">
            </div>
        </div>
    </div>
</div>



<script>

    var AddEditPrenotations = function (itemId) {
        var url = "/Expense/AddEditPrenotations?itemId=" + itemId;
        if (itemId > 0)
            $('#title').html("Edit Expense");

        $("#prenotationFormModelDiv").load(url, function () {
            $("#prenotationFormModel").modal("show");

        });

        $('#prenotationFormModel').on('shown.bs.modal', function () {

            $('#calender-container .input-group.date').datepicker({
                todayBtn: true,
                calendarWeeks: true,
                todayHighlight: true,
                autoclose: true,
                container: '#prenotationFormModel modal-body'
            });

        });
    }

</script>


<script>

    $('body').on('click', "#btnSubmit", function () {
        var myformdata = $("#prenotationForm").serialize();

        $.ajax({
            type: "POST",
            url: "/Expense/Create",
            data: myformdata,
            success: function () {
                $("#myModal").modal("hide");
                window.location.href = "/Expense/Index";
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        })
    })
</script>